body {
    background: #eee;
    font-family: "Courier New", serif;
    letter-spacing: 1.1;

    p {
        border-top: thin solid #333;
        border-bottom: 2px solid #333;
        padding: 1rem;
    }
}